[tool.poetry]
name = "cogwatch"
version = "1.1.8"
description = "Automatic hot-reloading for your discord.py command files."
authors = ["Rob Wagner <13954303+robertwayne@users.noreply.github.com>"]
license = "MIT"
readme = 'README.md'
homepage = 'https://github.com/robertwayne/cogwatch'
repository = 'https://github.com/robertwayne/cogwatch'
keywords = ['discord.py', 'discord bot', 'cogs', 'hot-reload']
classifiers=[
    'Operating System :: OS Independent',
    'Typing :: Typed',
    'Topic :: Communications :: Chat',
    'Intended Audience :: Developers',
    'Development Status :: 5 - Production/Stable',
]

[tool.poetry.dependencies]
python = "^3.7"
"discord.py" = "^1.5"
watchgod = "0.6"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
black = "^20.8b1"

[tool.black]
line-length = 88
target-version = ['py37']
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | docs
    | assets
    | venv
  )/
)
'''

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
